<div class="text-center">
    <h3>Feel free to contact me </h3>
    <div class="row">
        <div class="col-md-6 tile">
        <h4>About Project:</h4>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque iure id, architecto exercitationem omnis asperiores.</p>
        </div>
        <div class="col-md-6 tile">
        <h4>Contact Me:</h4>
        <hr>
          <p>+254 708 44 33 96 </p>

          <p>[  morriswarachi@gmail.com  ]</p>
        </div>
    </div>
</div>