<h1>Welcome to QueryMate</h1>
<p>We hope you get satisfactory answers.</p>


<ul>
    {{#each model as |question|}}
       {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
    {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}


{{#link-to 'about'}}About Page{{/link-to}}
{{#link-to 'contact'}}Contact Page{{/link-to}}